/* Core Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body, 
p, 
span { 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

li, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-ul li {
    display: inline-block;
    list-style: none;
    padding: 20px;
}

.nav-ul li a {
    text-decoration: none
    
}

.showcase {
    background-image: url(../images/coffee-hero-bg.jpeg);
    background-position: right center;
    width: 100%;
    min-height: 650px;
}



.logo{
    padding: 30px;
}

.container .content-wrap  {
    margin-left: 30px;
}










 

  






     









/* html, body, p, span {
    font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, h4 {
    font-family: 'Quantico', sans-serif;
} */




