* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, p, span {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Quantico', sans-serif;
}

     /* header */

.block-1 {
    background-image: url(../images/coffee-hero-bg.jpeg);
    background-position: right center;
    min-height: 600px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.block-2 {
    background-image: url(../images/coffee-beans-bg.jpeg);
    min-height: 400px;
    
    
}

h1.text-1 {
    color: #45230f;
    font-size: 30px;
    margin-top: 90px;
}

p.text-2 {
    color: #45230f;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

h1.text-3 {
    color: #ffff;
    text-align: center;
    margin-top: 90px;
    font-size: 40px;
}

p.text-4 {
    color: #ffff;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    line-height: 1.6em;
    
}

.button {
    background-color:#45230f;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 35px;
    margin-top: 30px;
}


.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 30px;
    margin-top: 50px;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}



.nav-bar ul  {
    list-style: none;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 5px;
    
}

.nav-bar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Quantico', sans-serif;
    padding-right: 40px;
}


/* Location  */




/* Media querie Mobile */

    

